<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="OrderMapper">
	<resultMap type="orderItemVO" id="orderItem">
		<result column="title" property="bookName"/>
		<result column="fullPrice" property="bookPrice"/>
	</resultMap>
	
	<!-- 주문 책 정보 가져오기 -->
	<select id="getGoodsInfo" resultMap="orderItem">
		select bookId, title, fullPrice, discountPer
		from book where bookId = #{bookId}
	</select>
	
</mapper>