@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
	font-family: 'Gowun Dodum', sans-serif;
}
.container {
	padding: 0;
}
@media (min-width: 768px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 1000px;
  }
}

/*사실 이 블럭은 없어도 된다*/
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
