@charset "UTF-8";

#admin_title {
	background-color: #B0E0E6;
}

#admin_subtitle {
	background-color: #F5F5F5;
}

#admin-menu {
	height: 40rem;
	padding-right: 0;
}

#admin-menu button {
	flex: 0 1 auto;
}

#bookIntro {
	height: 6.25em;
	resize: none !important;
}

.cate_span {
	display: inline !important;
	width: 20% !important;
	margin-right: 5%;
}

.cate_select {
	display: inline !important;
	width: 50% !important;
}