@charset "UTF-8";

#link_list a, #link_list a:visited {
	color: black;
	text-decoration: none;
}

#link_list li {
	border: none;
}

#link_list a:hover {
	color: #FFC0CB;
}

.gnd_back {
	background-color: white;
}

